@{
    ViewBag.Title = "Pham Thanh Dat";
}
<h2>@ViewBag.Title.</h2>
<h3>2210900007</h3>

<address>
   Pham Thanh Dat-2210900007
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:chungtrinhj@gmail.com">chungtrinhj@gmail.com</a><br />
    <strong> Ca Nhan:</strong> <a href="mailto:Marketing@example.com">thanhdat160924@gmail.com</a>
</address>